body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
    text-align: center;
}

.tableImage {
    height: 250px;
    width: 250px;
    object-fit: scale-down;
}
